.idea
project_code/data/
__pycache__
examples
/sandbox/prediction_pb_model/output/
/sandbox/check_image_rotation/output/
/sandbox/irrelevant/
/sandbox/
/input/
/output/
/data/output/
/data/output/ffhq/
